@font-face {
  font-family: 'telerikfontexamples';
  src:  url('/devtools/xamarin/fonts/telerikfontexamples.eot?2mqqq7');
  src:  url('/devtools/xamarin/fonts/telerikfontexamples.eot?2mqqq7#iefix') format('embedded-opentype'),
    url('/devtools/xamarin/fonts/telerikfontexamples.ttf?2mqqq7') format('truetype'),
    url('/devtools/xamarin/fonts/telerikfontexamples.woff?2mqqq7') format('woff'),
    url('/devtools/xamarin/fonts/telerikfontexamples.svg?2mqqq7#telerikfontexamples') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'telerikfontexamples' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort_descent:before {
  content: "\e800";
}
.icon-star-empty:before {
  content: "\e801";
}
.icon-filter:before {
  content: "\e802";
}
.icon-sort_ascent:before {
  content: "\e803";
}
.icon-group:before {
  content: "\e804";
}
.icon-star:before {
  content: "\e805";
}
.icon-right-dir:before {
  content: "\e806";
}
.icon-dots_vert:before {
  content: "\e807";
}
.icon-menu:before {
  content: "\e808";
}
.icon-check:before {
  content: "\e809";
}
.icon-cancel:before {
  content: "\e80a";
}
.icon-dot:before {
  content: "\e80b";
}
.icon-dot-3:before {
  content: "\e80c";
}
.icon-down-dir:before {
  content: "\e80d";
}
.icon-left-open-big:before {
  content: "\e80e";
}
.icon-cog:before {
  content: "\e80f";
}
.icon-search:before {
  content: "\e810";
}
.icon-up-dir:before {
  content: "\e811";
}
.icon-pattern:before {
  content: "\e812";
}
.icon-add:before {
  content: "\e813";
}
.icon-right-dir-outlines:before {
  content: "\e814";
}
.icon-info:before {
  content: "\e815";
}
.icon-down-dir-outlines:before {
  content: "\e816";
}
.icon-bin-solid:before {
  content: "\e817";
}
.icon-edit:before {
  content: "\e818";
}
.icon-copy:before {
  content: "\e819";
}
.icon-arrow-up:before {
  content: "\e81a";
}
.icon-airplane:before {
  content: "\e81c";
}
.icon-pdf:before {
  content: "\e81d";
}
.icon-encoding-1:before {
  content: "\e81e";
}
.icon-length:before {
  content: "\e81f";
}
.icon-arrow-right:before {
  content: "\e820";
}
.icon-contacts:before {
  content: "\e821";
}
.icon-cog-outlines:before {
  content: "\e822";
}
.icon-type:before {
  content: "\e823";
}
.icon-location:before {
  content: "\e824";
}
.icon-link:before {
  content: "\e825";
}
.icon-archive:before {
  content: "\e826";
}
.icon-bin:before {
  content: "\e827";
}
.icon-draft:before {
  content: "\e828";
}
.icon-folder-open:before {
  content: "\e829";
}
.icon-folder:before {
  content: "\e82a";
}
.icon-group-1:before {
  content: "\e82b";
}
.icon-item:before {
  content: "\e82c";
}
.icon-sent:before {
  content: "\e82d";
}
.icon-spam:before {
  content: "\e82e";
}
.icon-warning:before {
  content: "\e82f";
}
.icon-lock:before {
  content: "\e830";
}
.icon-thickness:before {
  content: "\e831";
}
.icon-car:before {
  content: "\e832";
}
.icon-shopping-bag:before {
  content: "\e833";
}
.icon-coffee-cup:before {
  content: "\e834";
}
.icon-get-money:before {
  content: "\e835";
}
.icon-user:before {
  content: "\e836";
}
.icon-group_users:before {
  content: "\e837";
}
.icon-dashboard:before {
  content: "\e838";
}
.icon-location-1:before {
  content: "\e83d";
}
.icon-link-1:before {
  content: "\e83e";
}
.icon-assets:before {
  content: "\e846";
}
.icon-book:before {
  content: "\e847";
}
.icon-design:before {
  content: "\e848";
}
.icon-graphics:before {
  content: "\e849";
}
.icon-image:before {
  content: "\e84a";
}
.icon-font-size:before {
  content: "\e84b";
}
.icon-template:before {
  content: "\e84c";
}
.icon-wireframes:before {
  content: "\e84d";
}
.icon-distance2:before {
  content: "\e84e";
}
.icon-stopwatch:before {
  content: "\e84f";
}
.icon-play:before {
  content: "\e850";
}
.icon-cancel2:before {
  content: "\e851";
}
.icon-picture:before {
  content: "\e852";
}
.icon-text:before {
  content: "\e853";
}
.icon-code:before {
  content: "\e854";
}
.icon-analysis:before {
  content: "\e855";
}
.icon-network:before {
  content: "\e856";
}
.icon-network2:before {
  content: "\e857";
}
.icon-bar-chart:before {
  content: "\e858";
}
.icon-sap:before {
  content: "\e859";
}
.icon-dba:before {
  content: "\e85a";
}
.icon-home:before {
  content: "\e85b";
}
.icon-temperature:before {
  content: "\e85c";
}
.icon-phone1:before {
  content: "\e85d";
}
.icon-electricity:before {
  content: "\e85e";
}
.icon-wifi:before {
  content: "\e85f";
}
.icon-distance-horizontal:before {
  content: "\e860";
}
.icon-calendar_dayview:before {
  content: "\e861";
}
.icon-calendar_multiday:before {
  content: "\e862";
}
.icon-calendar_week:before {
  content: "\e863";
}
.icon-calendar_month:before {
  content: "\e864";
}
.icon-calendar_year2:before {
  content: "\e865";
}
.icon-calendar_selection_single:before {
  content: "\e866";
}
.icon-calendar_selection_multiple:before {
  content: "\e867";
}
.icon-calendar_selection_range:before {
  content: "\e868";
}
.icon-gallery:before {
  content: "\e869";
}
.icon-camera:before {
  content: "\e86a";
}
.icon-crop_free:before {
  content: "\e86b";
}
.icon-crop_original:before {
  content: "\e86c";
}
.icon-crop_rect:before {
  content: "\e86d";
}
.icon-crop_circular:before {
  content: "\e86e";
}
.icon-badge:before {
  content: "\e86f";
}
.icon-notes:before {
  content: "\e870";
}
.icon-time:before {
  content: "\e871";
}
.icon-calendar_agenda:before {
  content: "\e872";
}
.icon-arrows:before {
  content: "\e873";
}
.icon-video-camera:before {
  content: "\e874";
}
.icon-check-3:before {
  content: "\e876";
}
.icon-cancel-3:before {
  content: "\e877";
}
.icon-time-3:before {
  content: "\e878";
}
.icon-arrow-down:before {
  content: "\e879";
}
.icon-flag:before {
  content: "\e87a";
}
.icon-save:before {
  content: "\e87b";
}
.icon-share:before {
  content: "\e87c";
}
.icon-menu-custom:before {
  content: "\e87d";
}
.icon-heart-filled:before {
  content: "\e87e";
}
.icon-heart-empty:before {
  content: "\e87f";
}
.icon-reorder:before {
  content: "\e881";
}
.icon-arrow-box-left:before {
  content: "\e882";
}
.icon-arrow-box-right:before {
  content: "\e883";
}
.icon-bell-empty:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-menu-1:before {
  content: "\f008";
}
.icon-link-ext:before {
  content: "\f08e";
}
.icon-plus-squared:before {
  content: "\f0fe";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-angle-circled-left-1:before {
  content: "\f137";
}
.icon-angle-circled-right-1:before {
  content: "\f138";
}
.icon-minus-squared:before {
  content: "\f146";
}
.icon-minus-squared-alt:before {
  content: "\f147";
}
.icon-plus-squared-alt:before {
  content: "\f196";
}
.icon-emoji:before {
  content: "\e900";
}
